@mixin raised-button-theme($theme) {
    $primary: map-get($theme, primary);
    $secondary: map-get($theme, secondary);
    $warning: map-get($theme, warning);
    $success: map-get($theme, success);
    $error:map-get($theme, error);
  
    .hx-raised-button .hx-default-color {
        background: linear-gradient(gray, darken(gray, 20%));
    }
    .hx-raised-button .hx-default-color:active {
        background: linear-gradient(lighten(gray, 40%), lighten(gray, 20%)); 
    }
    .hx-raised-button .hx-error-color {
        background: linear-gradient($error, darken($error, 20%));
    }
    .hx-raised-button .hx-error-color:active {
        background: linear-gradient(lighten($error, 40%), lighten($error, 20%));
    }
    .hx-raised-button .hx-primary-color {
        background: linear-gradient($primary, darken($primary, 20%));
    }
    .hx-raised-button .hx-primary-color:active {
        background: linear-gradient(lighten($primary, 40%), lighten($primary, 20%));
    }
    .hx-raised-button .hx-secondary-color {
        background: linear-gradient($secondary, darken($secondary, 20%));
    }
    .hx-raised-button .hx-secondary-color:active {
        background: linear-gradient(lighten($secondary, 40%), lighten($secondary, 20%));
    }
    .hx-raised-button .hx-warning-color {
        background: linear-gradient($warning, darken($warning, 20%));
    }
    .hx-raised-button .hx-warning-color:active {
        background: linear-gradient(lighten($warning, 40%), lighten($warning, 20%));
    }
    .hx-raised-button .hx-success-color {
        background: linear-gradient($success, darken($success, 20%));
    }
    .hx-raised-button .hx-success-color:active {
        background: linear-gradient(lighten($success, 40%), lighten($success, 20%));
    }
}

.hx-raised-button {
    width: 100px;
    height: 100px;
    border: 4px solid rgba(55,55,55, 0.2);
    border-radius: 5px;
}

.hx-raised-button:hover {
    border: 4px solid rgba(0,0,0, 0.4);
}
