hx-chevron-button {
    display: flex;
}

@mixin chevron-button-theme($theme) {
    $primary: map-get($theme, primary);
    $secondary: map-get($theme, secondary);
    $warning: map-get($theme, warning);
    $success: map-get($theme, success);
    $error:map-get($theme, error);
    $font-dark-color: map-get($theme, font-dark-color);
    $font-light-color: map-get($theme, font-light-color);

    .hx-chevron-button.hx-primary-color>svg>defs>linearGradient>stop:first-child {
        stop-color: $primary;
    }
    .hx-chevron-button.hx-primary-color>svg>defs>linearGradient>stop:last-child {
        stop-color: darken($primary, 20%);
    }
    .hx-chevron-button.hx-primary-color:active>svg>defs>linearGradient>stop:first-child {
        stop-color: lighten($primary, 10%)
    }
    .hx-chevron-button.hx-primary-color:active>svg>defs>linearGradient>stop:last-child {
        stop-color: darken($primary, 10%);
    }
    .hx-chevron-button.hx-primary-color>.hx-chevron-button-content {
        color: choose-contrast-color($primary,  $font-light-color, $font-dark-color);
    }

    .hx-chevron-button.hx-secondary-color>svg>defs>linearGradient>stop:first-child {
        stop-color: $secondary;
    }
    .hx-chevron-button.hx-secondary-color>svg>defs>linearGradient>stop:last-child {
        stop-color: darken($secondary, 20%);
    }
    .hx-chevron-button.hx-secondary-color:active>svg>defs>linearGradient>stop:first-child {
        stop-color: lighten($secondary, 10%)
    }
    .hx-chevron-button.hx-secondary-color:active>svg>defs>linearGradient>stop:last-child {
        stop-color: darken($secondary, 10%);
    }
    .hx-chevron-button.hx-secondary-color>.hx-chevron-button-content {
        color: choose-contrast-color($secondary,  $font-light-color, $font-dark-color);
    }

    .hx-chevron-button.hx-error-color>svg>defs>linearGradient>stop:first-child {
        stop-color: $error;
    }
    .hx-chevron-button.hx-error-color>svg>defs>linearGradient>stop:last-child {
        stop-color: darken($error, 20%);
    }
    .hx-chevron-button.hx-error-color:active>svg>defs>linearGradient>stop:first-child {
        stop-color: lighten($error, 10%)
    }
    .hx-chevron-button.hx-error-color:active>svg>defs>linearGradient>stop:last-child {
        stop-color: darken($error, 10%);
    }
    .hx-chevron-button.hx-error-color>.hx-chevron-button-content {
        color: choose-contrast-color($error,  $font-light-color, $font-dark-color);
    }

    .hx-chevron-button.hx-warning-color>svg>defs>linearGradient>stop:first-child {
        stop-color: $warning;
    }
    .hx-chevron-button.hx-warning-color>svg>defs>linearGradient>stop:last-child {
        stop-color: darken($warning, 20%);
    }
    .hx-chevron-button.hx-warning-color:active>svg>defs>linearGradient>stop:first-child {
        stop-color: lighten($warning, 10%)
    }
    .hx-chevron-button.hx-warning-color:active>svg>defs>linearGradient>stop:last-child {
        stop-color: darken($warning, 10%);
    }
    .hx-chevron-button.hx-warning-color>.hx-chevron-button-content {
        color: choose-contrast-color($warning,  $font-light-color, $font-dark-color);
    }

    .hx-chevron-button.hx-success-color>svg>defs>linearGradient>stop:first-child {
        stop-color: $success;
    }
    .hx-chevron-button.hx-success-color>svg>defs>linearGradient>stop:last-child {
        stop-color: darken($success, 20%);
    }
    .hx-chevron-button.hx-success-color:active>svg>defs>linearGradient>stop:first-child {
        stop-color: lighten($success, 10%)
    }
    .hx-chevron-button.hx-success-color:active>svg>defs>linearGradient>stop:last-child {
        stop-color: darken($success, 10%);
    }
    .hx-chevron-button.hx-success-color>.hx-chevron-button-content {
        color: choose-contrast-color($success,  $font-light-color, $font-dark-color);
    }

    .hx-chevron-button.hx-default-color>svg>defs>linearGradient>stop:first-child {
        stop-color: gray;
        
    }
    .hx-chevron-button.hx-default-color>svg>defs>linearGradient>stop:last-child {
        stop-color: darken(gray, 20%);
    }
    .hx-chevron-button.hx-default-color:active>svg>defs>linearGradient>stop:first-child {
        stop-color: lighten(gray, 10%)
    }
    .hx-chevron-button.hx-default-color:active>svg>defs>linearGradient>stop:last-child {
        stop-color: darken(gray, 10%);
    }
    .hx-chevron-button.hx-default-color>.hx-chevron-button-content {
        color: choose-contrast-color(gray,  $font-light-color, $font-dark-color);
    }
}
.hx-chevron-button {
    width: auto;
    position: relative;
}
.hx-chevron-button:hover>svg>g>path {
    stroke: gray;
}

.hx-chevron-disabled>svg>defs>linearGradient>stop:first-child {
    stop-color: lightgray;
}
.hx-chevron-disabled>svg>defs>linearGradient>stop:last-child {
    stop-color: darken(lightgray, 20%);
}
.hx-chevron-disabled>svg>g>path {
    stroke: darken(lightgray, 30%);
}
.hx-chevron-disabled:hover>svg>g>path {
    stroke: gray;
}

.hx-chevron-button-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}