@mixin chevron-button-theme($theme) {
    $primary: map-get($theme, primary);
    $secondary: map-get($theme, secondary);
    $warning: map-get($theme, warning);
    $success: map-get($theme, success);
    $error:map-get($theme, error);
  
    .hx-default-color {
        background: linear-gradient(gray, darken(gray, 20%));
    }
    .hx-default-color:active {
        background: linear-gradient(lighten(gray, 40%), lighten(gray, 20%)); 
    }
    .hx-error-color {
        background: linear-gradient($error, darken($error, 20%));
    }
    .hx-error-color:active {
        background: linear-gradient(lighten($error, 40%), lighten($error, 20%));
    }
    .hx-primary-color {
        background: linear-gradient($primary, darken($primary, 20%));
    }
    div.hx-chevron-button-tip {
        background: linear-gradient($primary, darken($primary, 20%)) !important;
    }

    .hx-secondary-color {
        background: linear-gradient($secondary, darken($secondary, 20%));
    }
    .hx-secondary-color:active {
        background: linear-gradient(lighten($secondary, 40%), lighten($secondary, 20%));
    }
    .hx-warning-color {
        background: linear-gradient($warning, darken($warning, 20%));
    }
    .hx-warning-color:active {
        background: linear-gradient(lighten($warning, 40%), lighten($warning, 20%));
    }
    .hx-success-color {
        background: linear-gradient($success, darken($success, 20%));
    }
    .hx-success-color:active {
        background: linear-gradient(lighten($success, 40%), lighten($success, 20%));
    }
}


.hx-chevron-button{
    display: flex;
    align-items: center;
	justify-content: center;
	width: max-content;
	color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: solid black 1px;
	padding-left: 10px;
}

// .hx-chevron-button:after {
//     content: '';
// 	position: relative;
// 	top: 0; 
// 	right: -21px; /*half of square's length*/
// 	width: 42px; 
// 	height: 42px;
// 	/*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's: 
// 	length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
// 	if diagonal required = 1; length = 1/1.414 = 0.707*/
// 	transform: scale(0.707) rotate(45deg);
// 	z-index: 1;
// 	border-radius: 0 5px 0 50px;
// }

.hx-chevron-button-tip {
    content: '';
	position: relative;
	top: 0; 
	right: -21px; /*half of square's length*/
	width: 42px; 
	height: 42px;
	/*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's: 
	length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
	if diagonal required = 1; length = 1/1.414 = 0.707*/
	transform: scale(0.707) rotate(45deg);
	z-index: 1;
    border-radius: 0 5px 0 50px;
}
.hx-chevron-button:before {
	content: '';
    left: 100%;
    margin-left: 1px;
    position: relative;
    width: 0;
    height: 0;
    border-top: 21px solid transparent;
    border-left: 21px solid black;
    border-bottom: 21px solid transparent;
}