@mixin chevron-button-theme($theme) {
    $primary: map-get($theme, primary);
    $secondary: map-get($theme, secondary);
    $warning: map-get($theme, warning);
    $success: map-get($theme, success);
    $error:map-get($theme, error);
  
    .hx-chevron-button.hx-primary-color>svg>defs>linearGradient>stop:first-child {
        stop-color: $primary;
    }
    .hx-chevron-button.hx-primary-color>svg>defs>linearGradient>stop:last-child {
        stop-color: darken($primary, 20%);
    }

    .hx-chevron-button.hx-default-color>svg>defs>linearGradient>stop:first-child {
        stop-color: gray;
        
    }
    .hx-chevron-button.hx-default-color>svg>defs>linearGradient>stop:last-child {
        stop-color: darken(gray, 20%);
    }
    
}

// .hx-primary-color>svg>defs>linearGradient>stop:last-child {
//     stop-color: darken(red, 20%);
// }
