// src/sass/styles.scss
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import './variables';
@import './mixins';

@import '../app/buttons/raised-button/raised-button.component';
@import '../app/buttons/chevron-button/chevron-button.component';
@import '../app/checkboxes/checkbox/checkbox.component';

@mixin hx-theme($theme) {
    @include raised-button-theme($theme);
    @include checkbox-theme($theme);
    @include chevron-button-theme($theme);
}

@function hx-create-theme($primary, $secondary, $warning, $success, $error) {
    @return (
      primary: $primary,
      secondary: $secondary,
      warning: $warning,
      success: $success,
      error: $error,
    );
  }

$primary: blue;
$secondary:  purple;
$warning: yellow;
$success: green;
$error: red;

$theme: hx-create-theme($primary, $secondary, $warning, $success, $error);

// Include all theme styles for the components.
@include hx-theme($theme);

