// src/sass/styles.scss
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import './variables';
@import './mixins';
@import './contrast';

@import '../app/buttons/raised-button/raised-button.component';
@import '../app/buttons/chevron-button/chevron-button.component';
@import '../app/checkboxes/checkbox/checkbox.component';

@mixin hx-theme($theme) {
    @include raised-button-theme($theme);
    @include checkbox-theme($theme);
    @include chevron-button-theme($theme);
}

@function hx-create-theme($primary, $secondary, $warning, $success, $error, 
  $font-dark-color, $font-light-color) {
    @return (
      primary: $primary,
      secondary: $secondary,
      warning: $warning,
      success: $success,
      error: $error,
      font-dark-color: $font-dark-color,
      font-light-color: $font-light-color
    );
  }

$primary: blue;
$secondary:  purple;
$warning: yellow;
$success: green;
$error: red;
$font-dark-color: black;
$font-light-color: white;


$theme: hx-create-theme($primary, $secondary, $warning, $success, $error, $font-dark-color, $font-light-color);

// Include all theme styles for the components.
@include hx-theme($theme);

