

<hx-chevron-button hx-chevron-back [color]="colors.Primary"></hx-chevron-button>
<hx-chevron-button [color]="colors.Secondary"></hx-chevron-button>
<hx-chevron-button [color]="colors.Error"></hx-chevron-button>
<hx-chevron-button [color]="colors.Warning"></hx-chevron-button>
<hx-chevron-button [color]="colors.Success"></hx-chevron-button>
<hx-chevron-button></hx-chevron-button>

<!-- <hx-raised-button [color]="colors.Primary"></hx-raised-button>
<hx-raised-button [color]="colors.Secondary"></hx-raised-button>
<hx-raised-button [color]="colors.Error"></hx-raised-button>
<hx-raised-button [color]="colors.Warning"></hx-raised-button>
<hx-raised-button [color]="colors.Success"></hx-raised-button>
<hx-raised-button></hx-raised-button> -->



